@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  /* --foreground: #424242; */
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  /* font-family: Arial, Helvetica, sans-serif; */
  font-family: "SF Pro Display", sans-serif; 
}

/* Remove default arrow for datalist inputs */
.custom-datalist::-webkit-calendar-picker-indicator,
.custom-datalist::-webkit-inner-spin-button,
.custom-datalist::-webkit-clear-button {
  display: none;
  -webkit-appearance: none;
  appearance: none;
}

.custom-datalist::-webkit-search-cancel-button {
  display: none;
}

/* Firefox */
.custom-datalist::-moz-dropdown-arrow {
  display: none;
}
